
.myVehicle {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    padding-top: 0px;
    margin: 4px;
    border: 1px solid #000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.myCar {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    padding-top: 0px;
    margin: 4px;
    border: 1px solid #000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: red;
}

.myCopCar {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    padding-top: 0px;
    margin: 4px;
    border: 1px solid #000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: blue;
}

.myMotorcycle {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    padding-top: 0px;
    margin: 4px;
    border: 1px solid #000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: yellow;
}

.myTank {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    padding-top: 0px;
    margin: 4px;
    border: 1px solid #000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: green;
}

.topDiv {
    margin: auto;
    width: 100%;
    display: block;
}


#gameArea {
    margin: auto;
}

button {
    width: 140px;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    float: left;
    margin: auto;
}


